body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: left;
     padding-top: 2px;
     padding-bottom:  4px; 
}
h1{
    color: goldenrod;
}

.myDiv {
    background-image: url(images/casino.jpg);
    background-size: 1200px;
    background-repeat: no-repeat;
    width: 500px;
    height: 450px;
    border: 2px solid;
    text-align: center;
    padding-top: 150px;
    font-size: 20px;
    color: goldenrod;
}

/*img{
    width:600px;
    height:550px;
}*/
button{
    color:black;
    background-color: goldenrod;
    border-radius: 30px;
    border: 20px;
    margin-left: 4px;
    font-size: 20px;
    max-height: 30px;
    margin-top: 50px;
}